.mb {
  margin-bottom: 2rem;
}

.images {
  border: 15px solid white;
  margin-left: 50px;
  box-shadow: 0px 4px 31px #0000000a;
  border-radius: 300px;
}
.newuser {
  padding: 30px;
}
.login {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: 23px;
}
.forgotpassword {
  padding-top: 12px;
}
.backgroundcolor {
  background-color: #fafafa;
}
.textcolor {
  color: #3e3e3e;
}
.lightcolor {
  color: #adadad;
}
.container {
  width: 620px;
  min-width: 60%-100%;
}

.h15{
  height: 15px; width: 15px;
}